{ 
  "presets":[ "es2015", "react", "stage-0" ], 
   "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-object-assign",
    "transform-object-entries"
  ],
  "env": {
    "test": {
      "presets": [["es2015"], "react"]
    }
  }	
}