<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="loaded">
    <div id = "root" ></div>
  </body>
</html>